/*
APOLOGIES for the awful CSS - I overused containers wayyyy too much and after 
the hours it took to get all this set up, I was too tired to refactor redundant 
classes and divs and make everything look nice <_<
*/


body {
  margin: 0 auto;
  background-color: #2b2d42;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
}

/* 
#root {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3f4561; */
  /* border: 2px solid transparent;
  border-radius: 5%; 
}
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  color: black;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25rem;
  min-width: 85vw;
  color: white;
  padding:1rem;
  margin:1rem auto;
}

a {
  text-decoration: none;
  color: white;
}

/* AllPlayers page */

#search-bar {
  min-width: 75vw;
  box-shadow: 2px 2px 4px rgb(163, 160, 202);
  margin: 1rem 0;
  color:white;
  font-size:1.5rem;
}

input {
  line-height: 1.5rem;
  min-height: 2rem;
  margin: 1rem;
  padding: 0.25rem 1rem;
}

img {
  max-width: 15rem;
  border-radius: 10%;
}

/* Container for every puppy in database */
#playerlist-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  gap: 2.5rem;
  background-color: #2b2d42;
}

/* container for each individual puppy, including image */
#player-card {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 30rem;
  height: 20rem;
  padding: 1.5rem;
  margin: 0.5rem 0;
  border: 1px double #b6cfa2;
  border-radius: 10%;
  border-width: 5px;
  background-color: #6765bd;
  font-size: 1rem;
}

/* Container for individual puppy, excluding image */
#player-card-details>* {
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  min-width: 10rem;
  max-width: 20rem;
  min-height: 3.5rem;
  max-height: 5rem;
}

#singleplayer-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 35rem;
  height: 40rem;
  padding: 1.5rem;
  margin: 0.5rem auto;
  border: 1px double #b6cfa2;
  border-radius: 10%;
  border-width: 5px;
  background-color: #6765bd;
  font-size: 1rem;
}

#singleplayer-view>img {
  margin: 5rem auto;
  max-height: 25rem;
  border-radius: 10%;
}

#singleplayer-details>* {
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  min-width: 10rem;
  max-width: 20rem;
  min-height: 3.5rem;
  max-height: 5rem;
}

#submit,
.details-button,
.remove-button,
.close-button {
  background-color: #2b2d42;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 1.5rem;
  box-shadow: #422800 3px 3px 0 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  max-width: 14rem;
  margin-top: 2rem;
}

#submit:hover,
.remove-button:hover,
.details-button:hover,
.close-button:hover {
  background-color: #EA7317;
}

#submit:active,
.remove-button:active,
.details-button:active,
.close-button:active {
  box-shadow: black 8px 8px 0 0;
  transform: translate(4px, 4px);
  transition: 0.2s;
}

/* New Player Form */

main.form-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(181, 181, 243);
  width: 50%;
  margin: 4em auto;
  border-radius: 10%;
  box-shadow: 10px 5px 5px rgb(123, 112, 243);
  justify-content: center;
}

.h3-form {
  font-size: 3rem;
  margin: 1rem auto;
}

.new-player-form {
  margin: 0em auto 3em auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  align-items: center;
}

.form-input {
  font-size: 1em;
  max-width: 30rem;
  max-height: 2.5rem;
  margin: 0.25em auto;
  border-radius: 8px;
  box-shadow: 3px 1px 1px rgb(80, 75, 75);
}

.form-setup {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(255, 23, 23);
}

.err {
  font-size: 1.6rem;
  font-weight: 500;
  color: red;
}

label.all-labels {
  display: flex;
  flex-direction: column;
  width: 30em;
  margin: 0 auto;
}

.success-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  background-color: #ffffff;
  border: 4px solid #33c63a;
  border-radius: 100%;
  text-align: center;
  padding: 0.5rem 0.75rem;
  color: #33c63a;
  font-weight: 900;
  font-size: 2rem;
  margin: 2rem auto;
}

/* very scuffed media queries */
@media screen and (max-width:1600px) {
  main.form-main {
    display: flex;
    flex-direction: column;
    flex: 1 1 1;
  }

  h3.h3-form {
    font-size: 3rem;
    margin: 1em auto;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 4em auto;
  }

  .new-player-form {
    margin: 0em auto 3em auto;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    width: auto;
  }

  .form-input {
    margin: 0 auto;
    width: 100%;
  }

  button#submit {
    width: 75%;
    margin: 0.75rem auto 0 auto;
  }

  .form-setup {
    text-align: left;
    display: flex;
    justify-content: flex-start;
  }
}